/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

header nav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1400px;
  height: 80px;
  padding: 0 32px;
}

header nav[aria-expanded='true'] {
  flex-direction: column;
  height: auto;
  min-height: 100dvh;
  justify-content: flex-start;
  padding-top: 20px;
  background: white;
}

/* brand / logo */
header .nav-brand {
  display: flex;
  align-items: center;
}

header .nav-brand .logo {
  width: 162px;
  height: 48px;
  display: block;
}

/* sections */
header nav .nav-sections {
  flex: 1;
  display: flex;
  justify-content: center;
}

header nav .nav-sections ul {
  display: flex;
  list-style: none;
  gap: 32px;
  margin: 0;
  padding: 0;
}

header nav .nav-sections ul > li > a {
  text-decoration: none;
  color: #333;
      font-weight: 400;
    font-size: 16px;
  transition: color 0.3s;
}

header nav .nav-sections ul > li > a:hover {
  color: #25b6e6;
}

/* tools */
header nav .nav-tools {
  display: flex;
  align-items: center;
  gap: 24px;
}

header .tool-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

header .tool-item img {
  width: 20px;
  height: 20px;
}

header .tool-item.notification .badge {
  position: absolute;
  top: -6px;
  right: -8px;
  background: #db0011;
  color: white;
  font-size: 10px;
  font-weight: 700;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}

header .tool-item.login a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  font-weight: 400;
    color: #25b6e6;
    font-size: 16px
}

/* hamburger */
header .nav-hamburger {
  display: none;
}

header .nav-hamburger button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 900px) {
  header nav {
    height: 60px;
    padding: 0 16px;
  }

  header .nav-sections {
    display: none;
  }

  header nav[aria-expanded='true'] .nav-sections {
    display: block;
    width: 100%;
    margin-top: 32px;
  }

  header nav[aria-expanded='true'] .nav-sections ul {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  header .nav-hamburger {
    display: block;
  }

  header .nav-tools {
    gap: 16px;
  }

  header .tool-item.login span {
    display: none;
  }
}

