/* stylelint-disable max-line-length */

/* Satoshi - body font used by Canara HSBC */
@font-face {
  font-family: Satoshi;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://cdn.fontshare.com/wf/ZRUNELDMQ5RXKOCE5F6KNUAMXQ3TXR7E/EKSA6GLUI7RIQVBLGWJF5RQKBEEQBKGU/RJZTCL5CNSGL5BWNQ3EXN4S6F7M2Z5JO.woff2') format('woff2');
}

@font-face {
  font-family: Satoshi;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://cdn.fontshare.com/wf/ZRUNELDMQ5RXKOCE5F6KNUAMXQ3TXR7E/I2FHMRWCG3GEZSFT4GQ6GOJHEZGCBLMZ/RJZTCL5CNSGL5BWNQ3EXN4S6F7M2Z5JO.woff2') format('woff2');
}

@font-face {
  font-family: Satoshi;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://cdn.fontshare.com/wf/ZRUNELDMQ5RXKOCE5F6KNUAMXQ3TXR7E/NFBXKZJOZHVGU5TLRRMFUYLNK5RQIZPZ/RJZTCL5CNSGL5BWNQ3EXN4S6F7M2Z5JO.woff2') format('woff2');
}
