.popular-searches-title h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.popular-searches-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.popular-searches-links ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: #323232;
  border: 1px solid #ccc;
  padding: .75rem 1rem;
  display: inline-block;
  font-weight: 400;
}

.popular-searches-links ul li a:hover {
  background-color: #f1fbfe;
    border: 1px solid #00adef;
}

@media (max-width: 767px) {
  .popular-searches-container {
    padding: 0;
  }

  .popular-searches-title h2 {
    font-size: 1.125rem;
    margin-bottom: 1rem;
  }

  .popular-searches-links ul {
    gap:20px;
  }

}
